<div class="contenedor-profile">
  <h1>Profile </h1>
  <div>
    <p> {{user.first_name}}</p>
    <p> {{user.last_name}}</p>
    <p> {{user.age}}</p>
    <p> {{user.role}}</p>
  </div>
  <div class="register">
    <button
      class="button btn-secudary"
      onclick="location.href='/api/users/logout'"
    >Cerrar Sesión</button>
  </div>

</div>