<div>
  <form class="form" action="/api/users/user-restart" method="post">
    <div class="contenedor-input">
      <label for="">Email:</label>
      <input type="email" name="email" id="email" />
    </div>
    <a  onclick="location.href='/api/sessions/login'"> <p>Regresar</p></a>
  </form>
</div>